---
layout: default
---
<header>
  <h1 class="title">{{ page.title }}</h1>
  {% if page.subtitle %}
  <h2 class="subtitle">{{ page.subtitle }}</h2>
  {% endif %}
  <p class="meta">{{ page.date | date_to_string }}</p>
  {% if page.updated %}
  <span class="updated">Updated: {{ page.updated | date_to_string }}</span>
  {% endif %}{% if page.story %}
  <span class="story">Story: {{ page.story }}</span>
  {% endif %}{% if page.tags %}
  <p class="tags">Tags: {{ page.tags | array_to_sentence_string }}</p>
  {% endif %}{% if page.maths %}
  <p class="meta error">Warning: This page contains maths that may or may not be correct.</p>
  {% endif %}
</header>

<hr>

<div class="post">

{{ content }}

</div>
